<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Main page</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
    </head>
    <body>
    <div class = "main">

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
            <div class="offcanvas-header">
                <div class = "side-bar-header">
                    <img class="header-img" src="../assets/img/logo_transparent.png">
                    <a class="navbar-brand">DG times</a>
                </div>

                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="side-bar-button btn btn-light" onclick="window.location.href='/'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                    <h5 class="side-bar-text"> 검색 </h5>
                </div>
                <div class = "side-bar-button btn btn-light" onclick="window.location.href='/statistics'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                    </svg>
                    <h5 class="side-bar-text"> 분석 </h5>
                </div>
            </div>
        </div>

        <div>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div class="container-left">
                    <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <img class="header-img" src="../assets/img/logo_transparent.png">
                    <a class="navbar-brand" href="/">DG times</a>
                </div>
                <div id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="btn btn-primary" href="/signin" sec:authorize="!authenticated">Sign in</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary" href="/signout" sec:authorize="authenticated">Sign out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">뉴스 검색에 지친 당신,<br> DGtimes로!</h1>
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" id="keyword" type="text" placeholder="검색어를 입력하세요"/>
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-primary btn-lg" id="submitButton" onclick="search()">
                                            <img class="search-icon" src="../assets/img/search-icon.png">
                                        </button>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="accordion accordion-flush" id="accordionFlushExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingOne">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                                상세 검색
                                            </button>
                                        </h2>
                                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <div class="card card-body" sec:authorize="authenticated">
                                                    <p class ="toggle-title">포함 키워드</p>
                                                    <input class="form-control form-control-sm" id="like" type="text" onkeydown="inputLikeKeyword(this)" placeholder="포함 키워드를 ' ' 로 구분하여 최대 10개까지 넣어주세요"/>
                                                    <div class = "like-list" id = "like-list">
                                                        <tr th:each="keyword : ${include_keyword}">
                                                            <td><span class="like-badge badge rounded-pill text-bg-primary" th:text="${keyword}" onclick="deleteBadge(this)"></span></td>
                                                        </tr>
                                                    </div>
                                                    <p class ="toggle-title">제외 키워드</p>
                                                    <input class="form-control form-control-sm" id="dislike" type="text" onkeydown="inputDisLikeKeyword(this)" placeholder="제외 키워드를 ' ' 로 구분하여 최대 10개까지 넣어주세요"/>
                                                    <div class = "dislike-list" id = "dislike-list">
                                                        <tr th:each="keyword : ${exclude_keyword}">
                                                            <td><span class="dislike-badge badge rounded-pill text-bg-danger" th:text="${keyword}" onclick="deleteBadge(this)"></span></td>
                                                        </tr>
                                                    </div>
                                                </div>
                                                <div class="card card-body" sec:authorize="!authenticated">
                                                    <p class ="toggle-title">로그인 해주세요</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                                실시간 인기 검색어
                                            </button>
                                        </h2>
                                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">
                                                <table class="table">
                                                    <tbody id = "rank-table-body">


                                                        <tr scope="row" th:each="keyword, meta : ${keyword_ranking_list}">
                                                            <th scope="row" th:text="${meta.index + 1}"></th>
                                                            <td th:text="${keyword.value}"></td>
                                                            <td th:if="${keyword.isRankingUp() == '+'}">
                                                                <div class = 'up-tri'></div>
                                                            </td>
                                                            <td th:if="${keyword.isRankingUp() == '-'}">
                                                                <div class = 'down-tri'></div>
                                                            </td>
                                                            <td th:if="${keyword.isRankingUp() == 'new'}">
                                                                <div> NEW </div>
                                                            </td>
                                                            <td th:if="${keyword.isRankingUp() == null}">
                                                                <div> - </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="showcase">
            <div class="container-fluid p-5" id = "news-body-container">
            </div>
        </section>
        <div id = "myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="text-center">
                        <div class="spinner-border text-primary m-5" style="width: 3rem; height: 3rem;" role="status">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

        <!-- Bootstrap core JS-->
        <!-- Core theme JS-->
        <script src="../js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function deleteBadge(e){
            $(e).remove()
        }
        function inputLikeKeyword(e){
            if (event.keyCode == 'Space' || event.keyCode == 32) {
                let likeKeyword = $('#like').val()

                if(likeKeyword !== " " || likeKeyword !== "" ){
                    let temp_html =
                        `<span class="like-badge badge rounded-pill text-bg-primary" onclick="deleteBadge(this)">${likeKeyword.trim()}</span>`

                    $('#like-list').append(temp_html)
                }

                $('#like').val(null)
            }
        }

        function inputDisLikeKeyword(e){
            if (event.keyCode == 'Space' || event.keyCode == 32) {
                let dislikeKeyword = $('#dislike').val()

                if(dislikeKeyword !== ""){
                    let temp_html =
                        `<span class="dislike-badge badge rounded-pill text-bg-danger" onclick="deleteBadge(this)">${dislikeKeyword.trim()}</span>`

                    $('#dislike-list').append(temp_html)
                }

                $('#dislike').val("")
            }
        }

        var count = 0;
        var keyword = "";
        var ready = true;
        var includeKeywordList = ""
        var excludeKeywordList = ""


        $(document).ready(function () {
            $(document).scroll(function() {
                var maxHeight = $(document).height();
                var currentScroll = $(window).scrollTop() + $(window).height();

                if (maxHeight <= currentScroll + 100 && ready && keyword != "") {
                    $('#myModal').modal("toggle")
                    ready = false;
                    count += 1;


                    let likeBadge = document.querySelectorAll('.like-badge');
                    let dislikeBadge = document.querySelectorAll('.dislike-badge');

                    includeKeywordList = ""
                    excludeKeywordList = ""
                    likeBadge.forEach(function(item) {
                        if(includeKeywordList == "")
                            includeKeywordList += item.innerHTML;
                        else
                            includeKeywordList += "," + item.innerHTML;
                    });
                    dislikeBadge.forEach(function(item) {
                        if(excludeKeywordList == "")
                            excludeKeywordList += item.innerHTML;
                        else
                            excludeKeywordList += "," + item.innerHTML;
                    });

                    $.ajax({
                        type: "GET",
                        url: "/api/news?keyword=" + keyword +"&includeKeywordList="+ includeKeywordList+ "&excludeKeywordList="+ excludeKeywordList+ "&page="+count+"&size=10",
                        timeout: 10000,
                        contentType: "application/json",
                        success: function (response, status, request) {
                            let rows = response["content"]
                            for (let i = 0; i < rows.length; i++) {
                                let content = rows[i]['content']
                                let date = dateFormat(rows[i]['publishedDate'])
                                let mainUrl = rows[i]['mainUrl']
                                let thumbnailUrl = rows[i]['thumbnailUrl']
                                let title = rows[i]['title']

                                let temp_html =
                                    `<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                            <div class="col-auto d-none d-lg-block">
                                              <img id = "news-img" src="${thumbnailUrl}">
                                            </div>
                                            <div class="col p-4 d-flex flex-column position-static">
                                              <strong class="d-inline-block mb-2 text-success">무슨 일보</strong>
                                              <h3 class="mb-0">${title}</h3>
                                              <div class="mb-1 text-muted">${date}</div>
                                              <p class="mb-auto" id = "news-content">${content}</p>
                                              <a href="${mainUrl}" class="stretched-link">Continue reading</a>
                                            </div>
                                          </div>`

                                $('#news-body-container').append(temp_html)
                                setTimeout(function(){
                                    ready = true;
                                    $('#myModal').modal("toggle")
                                },500)
                                clearTimeout()
                            }
                        },
                    })
                }
            })
        });

        function search() {
            $('#myModal').modal("toggle")
            count = 0;

            $('#news-body-container').empty()

            keyword = $('#keyword').val()


            let likeBadge = document.querySelectorAll('.like-badge');
            let dislikeBadge = document.querySelectorAll('.dislike-badge');

            includeKeywordList = ""
            excludeKeywordList = ""
            likeBadge.forEach(function(item) {
                if(includeKeywordList == "")
                    includeKeywordList += item.innerHTML;
                else
                    includeKeywordList += "," + item.innerHTML;
            });
            dislikeBadge.forEach(function(item) {
                if(excludeKeywordList == "")
                    excludeKeywordList += item.innerHTML;
                else
                    excludeKeywordList += "," + item.innerHTML;
            });

            $.ajax({
                type: "GET" ,
                url: "/api/news?keyword=" + keyword +"&includeKeywordList="+ includeKeywordList+ "&excludeKeywordList="+ excludeKeywordList+ "&page="+count+"&size=10",
                timeout: 100000,
                contentType: "application/json",

                error: function (response, status, error) {
                    console.log(response)
                    alert(response["responseJSON"]["msg"])
                },

                success: function (response, status, request) {
                    console.log(response)
                    let rows = response["content"]
                    for (let i = 0; i < rows.length; i++) {
                        let content = rows[i]['content']
                        let date = dateFormat(rows[i]['publishedDate'])
                        let mainUrl = rows[i]['mainUrl']
                        let thumbnailUrl = rows[i]['thumbnailUrl']
                        let title = rows[i]['title']
                        let temp_html =
                                        `<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                            <div class="col-auto d-none d-lg-block">
                                              <img id = "news-img" src="${thumbnailUrl}">
                                            </div>
                                            <div class="col p-4 d-flex flex-column position-static">
                                              <strong class="d-inline-block mb-2 text-success">무슨 일보</strong>
                                              <h3 class="mb-0">${title}</h3>
                                              <div class="mb-1 text-muted">${date}</div>
                                              <p class="mb-auto" id = "news-content">${content}</p>
                                              <a href="${mainUrl}" class="stretched-link">Continue reading</a>
                                            </div>
                                          </div>`

                        $('#news-body-container').append(temp_html)
                        setTimeout(function(){
                            $('#myModal').modal("toggle")
                        },500)
                        clearTimeout()
                    }
                },
                timeout: 10000
            })
        }

        function dateFormat(date){
            const date_first_split = date.split("T");
            const date_second_split = date_first_split[0].split("-");
            const year = date_second_split[0]
            const month = date_second_split[1]
            const days = date_second_split[2]

            return year + " " + changeMonthToEng(month) + " " + days
        }
        function changeMonthToEng(month){
            const Month_Eng_Map = {
                "01" : "Jen",
                "02" : "Feb",
                "03" : "Mar",
                "04" : "Apr",
                "05" : "May",
                "06" : "Jun",
                "07" : "Jul",
                "08" : "Aug",
                "09" : "Sep",
                "10" : "Oct",
                "11" : "Nov",
                "12" : "Dec"
            }
            return Month_Eng_Map[month]
        }
    </script>
    </body>
</html>
